<section id="contacto" class="contacto">
    <app-trapezoid [sectionName]="sectionName"></app-trapezoid>

    <form #myForm="ngForm">
        <div class="form-input">
            <input 
                id="name" 
                #name="ngModel" 
                [(ngModel)]="nameText" 
                name="name" 
                class="form-control text-input" 
                type="text" 
                placeholder="nombre" 
                required minlength="5"
            />
            <app-error-campo [control]="name"></app-error-campo>
        </div>
        <div class="form-input">
            <input 
                id="mail" 
                #mail="ngModel" 
                [(ngModel)]="mailText" 
                name="mail" 
                class="form-control text-input" 
                type="text" 
                placeholder="mail" 
                required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            />
            <app-error-campo [control]="mail"></app-error-campo>
        </div>
        <div class="form-input">
            <textarea 
                id="message" 
                #message="ngModel" 
                [(ngModel)]="messageText" 
                name="message" 
                class="form-control" 
                rows="5" 
                placeholder="message" 
                required minlength="20"
            ></textarea>
            <app-error-campo [control]="message"></app-error-campo>
        </div>
    </form>

    <div class="row mt-4">
        <button type="button" class="btn btn-dark" (click)="send(myForm)">Enviar</button>
    </div>
</section>