<div id="landing">
  <div id="landing-content">
    <div id="title">
      <h1>
        Hola
        <span class="comma">,</span>
        me llamo
        <span class="name">Mikel</span>
      </h1>
    </div>

    <div id="info">
      <p>
        Soy ingeniero en informatica de gestión y sistemas de información graduado por la Universidad Pública del País
        Vasco que actualmente trabaja para la empresa Accenture como Analista programador front-end.
      </p>

      <p>
        Cuento con una amplia trayectoria profesional en el desarrollo de aplicaciones web donde principalmente he
        trabajado en la parte front-end con frameworks de JavaScript como Angular o Vue.
      </p>

      <p>
        Soy una persona inquieta que siempre trata de sacar tiempo durante sus ratos libres para aprender nuevas
        tecnicas y lenguajes de programación así como desarrollar pequeños proyectos en los que aplicar dicho
        aprendizaje.
      </p>
    </div>

    <div id="curriculumdownload">
      <a class="curriculumdownload" href="/assets/documents/Mikel_Barcina_Curriculum.pdf" target="_blank">
        <span>Descarga mi curriculum</span>
        <i class="fa fa-download" aria-hidden="true"></i>
      </a>
    </div>

    <div id="career">
      <p>
        <a href="#career">
          Descubre más acerca de mí
          <i class="animated infinite bounce fas fa-angle-down fdown"></i>
        </a>
      </p>
    </div>
  </div>
</div>
